h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  color: aliceblue;
  margin: 5px;
}

h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  color: #212122;
}

h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
  color: aliceblue;
  margin: 5px;
}

nav {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 26px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #beb2b2;
}

.active {
  background-color: #546d77;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
ul.topnav li {
    float: none;
  }
}
.main {
  height: 600px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-image {
  margin-top: 30px;
}

.main-text {
  margin-left: 20px;
  max-width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-about {
  height: 1600px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-about-image {
  margin-top: 30px;
}

.main-about-text {
  margin-left: 20px;
  max-width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}